@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.story-sheet.starwars:before {
    background: url(star-wars-datapad-split.png);
    background-size: 100% 100%;
}

.window-app.story-sheet.starwars .window-header {
    margin-top: 0.3%;
    margin-right: 1.5%;
}

.story-sheet.starwars .page-inner .editor {
    color: var(--color-text-light-highlight);
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 1.5em;
}

.story-sheet.starwars .page.even .text {
    /* Left */
    padding: 1em 3em;
}
.story-sheet.starwars .page.odd .text {
    /* Right */
    padding: 1em 3em 1em 1em;
}
.story-sheet.starwars .story-submit {
    border: 1px solid var(--color-border-light-primary);
    background: var(--color-text-light-primary);
    width: 80%;
    margin: auto;
}

.story-sheet.starwars .page-num.num-start label,
.story-sheet.starwars .page-num.num-start input,
.story-sheet.starwars .page-num.num-start button {
    color: var(--color-text-light-primary);
}
.story-sheet.starwars .journal-page-content,
.story-sheet.starwars .page-num.num-start h1,
.story-sheet.starwars .page-num.num-start .pages-list > ol {
    color: var(--color-text-light-primary);
}

.story-sheet.starwars .page-num.even,
.story-sheet.starwars .page-num.odd {
    background: none;
}

.story-sheet.starwars .journal-entry-page.image figure img {
    max-width: 91%;
    object-fit: cover;
    -webkit-mask-image: none;
    mask-image: none;
    background-color: inherit;
    border-radius: 5px;
}
.story-sheet.starwars .page.even .image {
    /* Left */
    padding: 0;
}
.story-sheet.starwars .page.odd .image {
    /* Right */
    padding: 0;
    /* padding: 1% 7.5% 1% 7%; */
}

.story-sheet.starwars .pages-content,
.story-sheet.starwars .page-num.num-start {
    background-color: black;
}
